<footer>
    <div class="conteiner">
        <div class="outer">
            <h3>Veja mais</h3>
            <a routerLink="#">Encontre uma loja fisica</a>
            <a routerLink="#">Veja a nova coleção</a>
            <a routerLink="#">Confira as promoções</a>
            <a routerLink="#">Olhe as novidades!</a>
        </div>

        <div class="list-help">
            <h3>Ajuda </h3>
            <a routerLink="#">Devolução</a>
            <a routerLink="#">Entrega</a>
            <a routerLink="#">Desconto</a>
            <a routerLink="#">Encontrar peça</a>
            <a routerLink="#">Problema de Pagamento</a>
        </div>

        <div class="social-media">
            <h3>Redes Sociais</h3>
            <a routerLink="#"><img src="#" alt="facebook"></a>
            <a routerLink="#"><img src="#" alt="instagram"></a>
            <a routerLink="#"><img src="#" alt="tiktok"></a>
        </div>
    </div>
    <hr>
    <div class="copy">
        <p>© 2025 kall - Todos os direitos reservados</p>
    </div>
</footer>