.kall-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
}

.logo-container {
  flex: 1;
}

.logo-text {
  color: pink;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  cursor: pointer;
}

.main-nav {
  flex: 2;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  margin: 0 15px;
}

.main-nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ;
}

.main-nav ul li a:hover {
  color: #f0009c81; 
}

.user-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buscar {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.buscar input[type="text"] {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 180px;
  transition: border-color 0.3s ease;
}

.buscar input[type="text"]:focus {
  border-color: #fc00ce7b;
}

.btn-buscar {
  padding: 6px 12px;
  font-size: 14px;
  border: 1px solid #f800ca58;
  background-color: #f30ea655;
  color: white;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-buscar:hover {
  background-color: #e80baa78;
}

.btn-login,
.btn-register {
  border: none;
  background: none;
  cursor: pointer;
  font-weight: 600;
  margin-left: 15px;
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn-login {
  color: #333;
  background-color: transparent;
}

.btn-login:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn-register {
  background-color: transparent;
}

.btn-register:hover {
  background-color: #f800ba78;
  color: white;
}

@media (max-width: 768px) {
  .kall-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-nav ul {
    flex-direction: column;
    width: 100%;
  }

  .main-nav ul li {
    margin: 10px 0;
  }

  .user-actions {
    width: 100%;
    justify-content: flex-start;
    margin-top: 10px;
  }

  .buscar {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .buscar input[type="text"] {
    width: 100%;
    border-radius: 4px;
  }

  .btn-buscar {
    width: 100%;
    border-radius: 4px;
  }
}
