<header class="kall-header">
    <div class="logo-container">
        <h1 class="logo-text">Kall</h1>
    </div>

    <nav class="main-nav">
        <ul>
            <li><a routerLink="/home" [queryParams]="{category: 'Casual'}">Home</a></li>
            <li><a routerLink="/looks" [queryParams]="{category: 'Escritório'}">Produtos</a></li>
            <li><a routerLink="/sobre">Sobre</a></li>
            <li><a routerLink="/contato">Contato</a></li>
        </ul>
    </nav>

    
    <div class="user-actions">
        
    <div class="buscar">
        <input type="text" placeholder="Buscar..." [(ngModel)]="searchQuery">
        <button class="btn-buscar" (click)="onSearch()">Buscar</button>
    </div>

    <app-favoritos></app-favoritos>

    <button class="btn-login" (click)="openLoginModal()">Entrar</button>
    <button class="btn-register" (click)="openRegisterModal()">Cadastrar</button>
    </div>
</header>
